<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('../modules/menu') %>
    <br /><br /><br /><br />

    <div class="container mt-5">
      <h1 class="mb-4"><%= pageTitle %></h1>
      <div class="row">
        <% comidas.forEach(item => { %>
        <!-- Alterado de resultados para comidas -->
        <div class="col mb-3">
          <div
            class="card"
            data-bs-toggle="modal"
            data-bs-target="#modal<%= item.id %>"
          >
            <img
              src="<%= item.imagem_url %>"
              class="card-img-top imagemCardPricipal"
              alt="<%= item.titulo %>"
            />
            <div class="card-body">
              <h5 class="card-title"><%= item.titulo %></h5>
              <p class="card-text"><%= item.descricao %></p>
              <p class="card-text">
                <small class="text-muted"
                  >Tempo de preparo: <%= item.tempo_preparo %> minutos</small
                >
              </p>
              <p class="card-text">
                <small class="text-muted"
                  >Rendimento: <%= item.rendimento %></small
                >
              </p>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div
          class="modal fade"
          id="modal<%= item.id %>"
          tabindex="-1"
          aria-labelledby="modalLabel<%= item.id %>"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLabel<%= item.id %>">
                  <%= item.titulo %> - Detalhes
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <!-- Imagem do Item -->
                <div class="col mx-auto text-center">
                  <img
                    src="<%= item.imagem_url %>"
                    class="img-fluid mb-3 imagemModal"
                    alt="<%= item.titulo %>"
                  />
                </div>

                <!-- Nav Tabs -->
                <ul
                  class="nav nav-tabs"
                  id="itemTabs<%= item.id %>"
                  role="tablist"
                >
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active"
                      id="ingredients-tab<%= item.id %>"
                      data-bs-toggle="tab"
                      data-bs-target="#ingredients<%= item.id %>"
                      type="button"
                      role="tab"
                      aria-controls="ingredients"
                      aria-selected="true"
                    >
                      Ingredientes
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      id="preparation-tab<%= item.id %>"
                      data-bs-toggle="tab"
                      data-bs-target="#preparation<%= item.id %>"
                      type="button"
                      role="tab"
                      aria-controls="preparation"
                      aria-selected="false"
                    >
                      Modo de Preparo
                    </button>
                  </li>
                </ul>

                <!-- Tab Content -->
                <div class="tab-content" id="itemTabsContent<%= item.id %>">
                  <!-- Ingredientes Tab -->
                  <!-- Ingredientes Tab -->
                  <div
                    class="tab-pane fade show active"
                    id="ingredients<%= item.id %>"
                    role="tabpanel"
                    aria-labelledby="ingredients-tab<%= item.id %>"
                  >
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Descrição</th>
                          <th>Quantidade</th>
                          <th>Unidade</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (Array.isArray(item.ingredientes) &&
                        item.ingredientes.length > 0) { %> <%
                        item.ingredientes.forEach(ingrediente => { %> <% const
                        [descricao, quantidade, unidade] =
                        ingrediente.split('|'); %>
                        <tr>
                          <td><%= descricao %></td>
                          <td><%= quantidade %></td>
                          <td><%= unidade %></td>
                        </tr>
                        <% }); %> <% } else { %>
                        <tr>
                          <td colspan="3">Nenhum ingrediente encontrado.</td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>

                  <!-- Modo de Preparo Tab -->
                  <div
                    class="tab-pane fade"
                    id="preparation<%= item.id %>"
                    role="tabpanel"
                    aria-labelledby="preparation-tab<%= item.id %>"
                  >
                    <% if (Array.isArray(item.passos) && item.passos.length > 0)
                    { %>
                    <!-- Verifica se 'passos' é um array -->
                    <ul>
                      <% item.passos.forEach(passo => { %>
                      <li><%= passo %></li>
                      <% }); %>
                    </ul>
                    <% } else { %>
                    <p>Nenhum modo de preparo encontrado.</p>
                    <% } %>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Fechar
                </button>
              </div>
            </div>
          </div>
        </div>

        <% }) %>
        <!-- Alterado de resultados para comidas -->
      </div>
    </div>

    <!-- Modal Login/Cadastro -->
    <%- include('../modules/modalLoginCadastro') %> <%-
    include('../modules/footer') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<style>
  .imagemModal {
    height: 300px !important;
    align-items: center;
  }

  .imagemCardPricipal {
    height: 230px !important;
  }
</style>
